<%= form_for @task do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
            <h2>
                <% pluralize(@task.errors.count, 'error') %> prohibited
                this article from being saved:
            </h2>
            <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :is_done%>
        <%= f.check_box :is_done %>
        &nbsp;
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.select :priority, [nil, 1, 2, 3] %>
    </p>


    <p>
        <%= f.submit %>
    </p>
<% end %>
